body {
  background: black;
}
.clock {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #17d4fe;
  font-size: 60px;
  font-family: Orbitron;
  letter-spacing: 7px;
}
